<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot like ChatGPT</title>
    <link rel="stylesheet" href="/static/gpt/style.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-box" id="chat-box"></div>
        <div id="inputArea">
            <input type="text" id="user-input" placeholder="Type a message..." autofocus>
            <button onclick="sendMessage()">Send</button>
        </div>

    </div>
    <script src="/static/gpt/script.js"></script>
</body>
</html>