{% extends 'base.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



<div class="page">


    <div class="container">
        <form method="POST" class="sign-up-form">
            <h2 class="title">New Worklog</h2>
            {{ form.hidden_tag() }}
        
            <!-- Displaying Form Errors -->
            {% for field in form %}
                {% if field.errors %}
                    <div class="alert-bad">
                        <p>{{ field.label.text }}: 
                            {% for error in field.errors %}
                                <b>{{ error }}</b>
                            {% endfor %}</p>

                    </div>
                {% endif %}
            {% endfor %}
        
            <!-- worklog title -->
            <div class="input-field">
                {{ form.title.label(class="form-label") }}
                {{ form.title(placeholder='ex: Chest focus', class="form-control") }}
            </div>

            <div id="wk-type">
                

                <div class="input-field">
                    {{ form.workout_type.label(class="form-label") }}
                    {{ form.workout_type(class="form-control") }}
                </div>
            </div>

        
            <!-- Submit Button -->
            <input type="submit" value="Add new worklog" class="btn">
        </form>


    </div>


</div>



<script src="/static/worklog/newlog.js"></script> 
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/worklog/newlog.css">
{% endblock %}