.container {
    display: flex;
    flex-direction: column; /* Adjusted for vertical layout */
    width: 400px;
    max-height: 600px; /* Adjusted for content */
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    border: 1px solid #5c5c5c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; /* Added padding */
}

/* Styling for form labels */
.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input:focus, textarea:focus, select:focus, a:focus {
    outline: none;
}

/* General styling for input fields */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #727272;
    background-color: #202020;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(192, 205, 205);
    transition: 0.2s ease-in-out;
}

.form-control:hover {
    background-color: #252525;
}

/* Specific styling for select fields */
select {
    background-color: #212121;
    color: azure;
    width: 100%; /* Adjusted for full width */
    padding: 10px; /* Padding for aesthetic */
    border: 1px solid #727272;
    border-radius: 4px;
    height: auto; /* Adjust based on content */
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

select:hover {
    background-color: #252525;
}

/* Styling for the submit button */
.btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(235, 117, 74); /* Button color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-weight: 600;
}

.btn:hover {
    background-color: #d96f65; /* Darker color on hover */
}

/* Style for error messages */
.alert-bad {
    color: #ff0000; /* Red color for errors */
    margin-bottom: 10px;
}
