.worklog-container {
    display: flex;
    width: 500px;
    height: 700px;
    border: 1px solid grey;

    border: 1px solid #5c5c5c;
    box-shadow: 0 0 5px rgba(0,0,0,0.2); 
}

#wl-header {
    margin-inline: 20px;
    /* margin-block: 8px; */
    margin-top: 20px;
    border-bottom: 2px solid #999;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}
#wl-header h3 {
    color: rgb(178, 189, 189);
    margin: 3px;
    margin-bottom: 6px;

}
#wl-header h2 {
    color: rgb(178, 189, 189);
    color: azure;
    margin: 3px;
    margin-bottom: 6px;
    font-size: 40px;
}

#wk-titles {
    width: 80%;
}
#newExercise-btn {
    width: 110px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(235, 117, 74); /* Blue color */
    border: none;
    color: azure;
    transition: 0.2s ease-in-out;
    transform: translateY(30px);
    box-shadow: 0 0 5px rgba(0,0,0,0.2); 
    cursor: pointer;

}

#newExercise-btn:hover {
    background-color: #d96f65; /* Darker blue on hover */
}

#newExerciseFormDiv {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 180px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    font-size: 25px;
    font-weight: 530;

    
}
#newExerciseFormDiv form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-inline: 20px;

}
input:focus,
textarea:focus,
select:focus,
a:focus {
  outline: none;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #727272;
    background-color: #202020;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(192, 205, 205);
    transition: 0.2s ease-in-out;
}


input:hover {
    background-color: #252525;
}

#newExerciseFormDiv label {
    margin-block: 20px;
}
#createExerciseBtn {
    background-color: coral;
    border: none;
    /* /* width: 38px; */
    height: 25px; 
    border-radius: 2px;
    margin: 0;
    transition: 0.2s ease-in-out;
    margin-inline: 0;
    /* transform: translateY(2px); */
    /* /* font-size: 25px; */
    font-weight: 400; 
    padding-block: 3px;
    cursor: pointer;
}




#createExerciseBtn:hover {
    background-color: rgb(255, 100, 80);
    color: white;


}

#exitCreate {
    background-color: rgb(255, 80, 80);
    border-radius: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    margin: 0;
    transition: 0.2s ease-in-out;
    cursor: pointer;


}
#exitCreate:hover {
    background-color: rgb(254, 144, 144);


}