#temp{
    position:fixed;
    right: 10px;
    bottom:10px;
}

.worklog-container {
    display: flex;
    width: 500px;
    height: 700px;
    /* border: 1px solid grey; */

    border: 1px solid #5c5c5c;
    box-shadow: 0 0 5px rgba(0,0,0,0.2); 
    flex-direction: column;
}

#wl-header {
    margin-inline: 20px;
    /* margin-block: 8px; */
    margin-top: 20px;
    border-bottom: 2px solid #999;
    width: 92%;
    height: 100px;
    display: flex;
    flex-direction: row;
}
#wl-header h3 {
    color: rgb(178, 189, 189);
    margin: 3px;
    margin-bottom: 6px;

}
#wl-header h2 {
    color: rgb(178, 189, 189);
    color: azure;
    margin: 3px;
    margin-bottom: 6px;
    font-size: 40px;
}
#wl-header h5 {
    color: rgb(178, 189, 189);  
    margin-block: 0;
    margin-inline: 3px;
}

#wk-titles {
    width: 80%;
}
#newExercise-btn {
    width: 110px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(235, 117, 74); 
    border: none;
    color: azure;
    transition: 0.2s ease-in-out;
    transform: translateY(50px);
    box-shadow: 0 0 5px rgba(0,0,0,0.2); 
    cursor: pointer;

}

#newExercise-btn:hover {
    background-color: #d96f65; 
}

#newExerciseFormDiv {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 180px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    font-size: 25px;
    font-weight: 530;
    background-color: #202020;
    
}
#newExerciseFormDiv form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-inline: 20px;

}

#newSetFormDiv {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 300px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    font-size: 18x;
    font-weight: 530;
    background-color: #202020;


}

#editSetFormDiv {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 300px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    font-size: 18x;
    font-weight: 530;
    background-color: #202020;


}

#newSetFormDiv form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-inline: 20px;

}

#editSetForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-inline: 20px;

}

.set-inps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.set-inps input {
    margin-block: 10px;
}
/* .set-inp label {
    margin: 0 !important;
} */
#newSetFormDiv label {
    margin-block: 10px;
}

#editSetFormDiv label {
    margin-block: 10px;
}

input:focus,
textarea:focus,
select:focus,
a:focus {
  outline: none;
}

#newExerciseFormDiv input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #727272;
    background-color: #202020;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(192, 205, 205);
    transition: 0.2s ease-in-out;
}


input:hover {
    background-color: #252525;
}

#newSetFormDiv input {
    width: 45px;
    padding: 10px;
    height: 15px;
    margin-bottom: 20px;
    border: 1px solid #727272;
    background-color: #202020;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(192, 205, 205);
    transition: 0.2s ease-in-out;
}

#editSetFormDiv input {
    width: 45px;
    padding: 10px;
    height: 15px;
    margin-bottom: 20px;
    border: 1px solid #727272;
    background-color: #202020;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(192, 205, 205);
    transition: 0.2s ease-in-out;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }


input:hover {
    background-color: #252525;
}

#newExerciseFormDiv label {
    margin-block: 20px;
}
#createExerciseBtn {
    background-color: coral;
    border: none;
    /* /* width: 38px; */
    height: 25px; 
    border-radius: 2px;
    margin: 0;
    transition: 0.2s ease-in-out;
    margin-inline: 0;
    /* transform: translateY(2px); */
    /* /* font-size: 25px; */
    font-weight: 400; 
    padding-block: 3px;
    cursor: pointer;
}

#setInputs {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.setBtnClass {
    background-color: coral;
    border: none;
    /* /* width: 38px; */
    height: 25px; 
    border-radius: 2px;
    margin: 0;
    transition: 0.2s ease-in-out;
    margin-inline: 0;
    margin-block: 5px;
    /* transform: translateY(2px); */
    /* /* font-size: 25px; */
    font-weight: 400; 
    padding-block: 3px;
    cursor: pointer;
}

.setBtnClass:hover {
    background-color: rgb(255, 100, 80);
    color: white;

}

#createExerciseBtn:hover {
    background-color: rgb(255, 100, 80);
    color: white;


}

#exitCreate {
    background-color: rgb(255, 80, 80);
    border-radius: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    margin: 0;
    transition: 0.2s ease-in-out;
    cursor: pointer;


}
.exitSet {
    background-color: rgb(255, 80, 80);
    border-radius: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    margin: 0;
    transition: 0.2s ease-in-out;
    cursor: pointer;

}

.exitSet:hover {
    background-color: rgb(254, 144, 144);

} 
#exitCreate:hover {
    background-color: rgb(254, 144, 144);


}


.logsContainer {
    /* background-color: blue; */
    height: 560px;
    width: 470px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    /* overflow: hidden; */
    box-sizing: border-box;
    align-content: flex-start; /* Aligns wrapped lines at the start of the container */
    justify-content: center;
    transform: translateY(-2px);
    overflow-y: scroll;

}

.log {
    /* background-color: paleturquoise;s */
    width: 225px;
    height: 180px;
    margin-inline: 2px;
    margin-block: 2px;
    border: 1px solid #5c5c5c;
    box-shadow: 0 0 4px rgba(0,0,0,0.2); 


}
.log h4{
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}

.log-container {
    /* background-color: blue; */
    margin-inline: 7.5px;
    margin-block: 2.5px;
    width: 210px;
    height: 175px;


}
.log-title {
    border-bottom: 1px solid #999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.log-title h4 {
    white-space: nowrap;    /* Prevents the text from wrapping */
    font-size: 12px;
    margin-block: 5px;
}

.btns button {
    /* padding: 5px 10px; */
    /* margin-inline: 5px; */
    margin-left: 5px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Additional styling for buttons */
    text-align: center;
}

.btns .add {
    background-color: #4CAF50; /* Green */
    background-color: rgb(94, 196, 162);
    color: white;
}

.btns .add:hover {
    background-color: #45a049; /* Darker green */
}

.btns .dlt {
    background-color: #c9362b; /* Red */
    color: white;
}

.btns .dlt:hover {
    background-color: #a12424; /* Darker red */
}

.set p {

    margin-block: 5px;
    margin-left: 5px;
    color: #c3c3c3;
    margin-right: 0;
}

.set {
    margin-block: 0;
    font-size: 15px;
    border-bottom: 1px solid #202020;
    box-shadow: 0 0 7px rgba(0,0,0,0.2); 
    justify-content: center;

    padding-block: 2px;


}

.set button {
    
        /* padding: 5px 10px; */
        /* margin-inline: 5px; */
        /* margin-left: 5px; */
        border: none;
        border-radius: 1px;
        cursor: pointer;
        transition: background-color 0.3s;
        /* Additional styling for buttons */
        text-align: center;
        margin-block: 5px;
        margin-inline: 2px;

    
}

.set .add {
    background-color: #4CAF50; /* Green */
    background-color: rgb(94, 196, 162);
    color: white;
}
.set .add:hover {
    background-color: #45a049; /* Darker green */
}

.set .dlt {
    background-color: #c9362b; /* Red */
    color: white;
}

.set .dlt:hover {
    background-color: #a12424; /* Darker red */
}
.set-content {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.set-btns {
    margin: 0;
}

.set-edit {
    /* background-color: rgb(235, 117, 74);  */
    background-color: transparent; 


    width: 22.5px;
    height: 22.5px;
    padding: 0; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 8px; 
    box-shadow: 0 0 2px rgba(234, 234, 234, 0.2); 
}
.set-edit i.fa-solid {
    color: #fff;
    font-size: 13.5px; 
}


.set-edit:hover {
    background-color: #979797; 
}

.log-content {
    height: 150px;
    overflow-y: scroll;
}

#deleteSetBtn {
    background-color: #a12424;
    color: #c3c3c3;

}
#deleteSetBtn:hover {
    background-color: #be1f1f;
}

.typeName {
    font-size: 16px;
    color: #e3e2e2;
    background-color: #a05a45;
    padding-inline: 6px;
    padding-block: 3px;
    border-radius: 6px;
    font-weight: 550;
}