#postSection {
    width: 100%;
    max-width: 600px; /* Mimicking Instagram post width */
    height: 100%;
    margin-top: 50px; /* Centered with auto margins */
    padding: 0 20px; /* Padding on the sides for smaller screens */
}


.post {
    background-color: #222121;
    color: #ddd; /* Light text for readability */
    border: 1px solid #232323; /* Slightly darker border for depth */
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Deeper shadow for contrast */
    cursor: pointer;
}

.post:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Enhanced shadow on hover */
}

.post-header {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #3a3c40; /* Subtle contrast for separator */
}



.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-link {
    color: #E37D74; /* Brand color for links */
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 4px;
}

.user-link:hover {
    text-decoration: underline;
    color: #ddd; /* Lighter color on hover for distinction */
}

.post-date {
    font-size: 0.85em;
    color: #bbb; /* Subdued color for date */
}
.post-title {
    padding-bottom: 15px;


}
.post-title h3, .typeName {
    margin: 0;
    margin-top: 10px;
    margin-left: 15px;
    color: #F2F2F2; /* Ensuring high readability */
    margin-bottom: 8px;
}

.typeName {
    background-color: #E37D74; /* Brand accent color for workout types */
    color: #232323; /* Dark text for contrast */
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 0.85em;

    margin-left: 15px;

}

.post-content, .post-footer {
    padding: 15px;
    border-top: 1px solid #3a3c40; /* Separator */
}

blockquote {
    background-color: #333538; /* Darker background for blockquote */
    border-left: 5px solid #E37D74; /* Accent color for quote line */
    padding: 10px 20px;
    color: #ddd; /* Light text for readability */
    font-style: italic;
}

.workout-intro {
    font-weight: bold;
    color: #E37D74; /* Using brand color for intro text */
}

.workout-exercises, .exercise-sets {
    list-style-type: none;
    padding-left: 0;
}

.exercise-name {
    font-weight: 600;
}

.exercise-sets {
    margin-top: 5px;
    color: #bbb; /* Subdued color for sets details */
    font-size: 0.9em;
}
.exercise-sets li {
    margin-left: 20px;
}