<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <h1>Form Page</h1>
        <form>
            <div id="form-container">
                <input></input>
            </div>
        </form>
        <button id="form-button">add exercise</button>
    </body>
</html>
<script type="text/javascript"
         src="{{ url_for('static', filename='form.js') }}"></script>