{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/home.css">
{% endblock %}

{% block content %}
<div class="page">
    <div id="postSection">
        {% for post in posts %}
        <div class="post" onclick="window.location.href = '/worklog/{{ post.worklog.id }}';">

                <div class="post-header">
                    <img class="profile-pic" src="{{ post.user.image_url }}" alt="Profile Picture" />
                    <div class="user-details">
                        <a href="/{{ post.user.username }}" class="user-link"><strong>{{ post.user.username }}</strong></a>
                        <span class="post-date">{{ post.created_at.strftime('%B %d, %Y') }}</span>
                    </div>
                </div>
                <div class="post-title">
                    <h3>{{ post.worklog.title }}</h3>
                    {% for tp in post.worklog.workout_types %}
                        <b class="typeName">{{tp.type_name}}</b>
                    {% endfor %}


                </div>
                <div class="post-content">
                    <p class="workout-intro">Workout Details:</p>
                    <ul class="workout-exercises">
                        {% for workout_exercise in post.worklog.workout_exercises %}
                            <li class="workout-exercise">
                                <span class="exercise-name">{{ workout_exercise.name }}</span>
                                <ul class="exercise-sets">
                                    {% for exercise_set in workout_exercise.exercise_sets %}
                                        <li>Set {{ exercise_set.set_number }}: {{ exercise_set.reps }} reps @ {{ exercise_set.weight }} lbs</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="post-footer">
                    <blockquote>{{ post.message }}</blockquote>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
