{% extends 'base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="page">
    <div class="container">
        <div id="profile" data-user-id="{{user.id}}">
            <div id="profile-img">
                <img src="{{user.image_url}}" alt="profile image for user">
            </div>
            <div class="user-info">
                <h3>{{user.name}}</h3>
                <h4>{{user.username}}</h4>


            </div>
            
                {% if current_user and current_user.id == user.id %}
                    <button id="editProfile" onclick="editProfile()">Edit profile</button>
                {% else %}
                    <!-- There's nothing -->
                    <!-- <button id="editProfile" onclick="editProfile()">Follow</button> -->
                    

                {% endif %}

            <div class="user-follow">
                <!-- <a href="/users/{{ current_user.id }}/following">following {{ current_user.following | length }}</a>

                <a href="/users/{{ current_user.id }}/followers">followers{{ current_user.followers | length }}</a> -->
                <ul class="stats-list">
                    <li class="stat">
                      <p class="small">Following</p>
                      <h4>
                        <a href="/users/{{ user.id }}/following">{{ user.following | length }}</a>
                      </h4>
                    </li>
                    <li class="stat">
                      <p class="small">Followers</p>
                      <h4>
                        <a href="/users/{{ user.id }}/followers">{{ user.followers | length }}</a>
                      </h4>
                    </li>
                  </ul>
                  
                <!-- (icon) #<a href="">followers</a> # <a href="">following</a> -->
            </div>

        </div>


        <div id="dashboard">


            <div id="worklogs">
                <div id="wl-header">
                    <h2>Worklogs</h2>
                    {% if current_user and current_user.id == user.id %}
                        <button id="wl-btn" onclick="newWL()">+</button>
                    {% endif %}
                </div>
                
                <div id="allWorklogs">

                    {% for worklog in worklogs%}
                        <div class="worklog-lite">
                            <div class="log-header">
                                <h3><a href="/worklog/{{worklog.id}}">{{worklog.title}}</a></h3>
                                <p>{{worklog.created_at.strftime('%B %d, %Y')}}</p>    

                                <div class="worklog-lite-tags">

                                    {% for tp in worklog.workout_types %}
                                        <b class="typeName">{{tp.type_name}}</b>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>





            <div id="workout-stats">
                <h2>Workout Stats</h2>
                <div id="workout-stats-container">
                    <div class="stats">
                        <h3>Workouts</h3>
                        <p>{{worklogs | length}}</p>
                    </div>
                    <div class="stats">
                        <h3>Exercises</h3>
                        <p>{{exercises | length}}</p>
                    </div>
                    <div class="stats">
                        <h3>Sets</h3>
                        <p>{{sets | length}}</p>
                    </div>
                </div>

                <div id="workout-chart">
                    <canvas id="myChart"></canvas>
                </div>
                



                
            </div>
        </div>
    </div>
</div>



<script src="/static/users/dashboard.js"></script>

{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/users/dashboard.css">
{% endblock %}
