{% extends 'base.html' %}
{% block content %}

<div class="page">
    <div class="container">
        <div id="profile" data-user-id="{{current_user.id}}">
            <div id="profile-img">
                <img src="{{current_user.image_url}}" alt="profile image for user">
            </div>
            <div class="user-info">
                <h3>{{current_user.name}}</h3>
                <h4>{{current_user.username}}</h4>


            </div>
            <button id="editProfile" onclick="editProfile()">Edit profile</button>

            <div class="user-follow">
                <!-- <a href="/users/{{ current_user.id }}/following">following {{ current_user.following | length }}</a>

                <a href="/users/{{ current_user.id }}/followers">followers{{ current_user.followers | length }}</a> -->
                <ul class="stats-list">
                    <li class="stat">
                      <p class="small">Following</p>
                      <h4>
                        <a href="/users/{{ current_user.id }}/following">{{ current_user.following | length }}</a>
                      </h4>
                    </li>
                    <li class="stat">
                      <p class="small">Followers</p>
                      <h4>
                        <a href="/users/{{ current_user.id }}/followers">{{ current_user.followers | length }}</a>
                      </h4>
                    </li>
                  </ul>
                  
                <!-- (icon) #<a href="">followers</a> # <a href="">following</a> -->
            </div>

        </div>


        <div id="dashboard">


            <div id="worklogs">
                <div id="wl-header">
                    <h2>Worklogs</h2>
                    <button id="wl-btn" onclick="newWL()">+</button>
                </div>
                
                <div id="allWorklogs">

                    {% for worklog in worklogs%}
                        <div class="worklog-lite">
                            <h3><a href="/worklog/{{worklog.id}}">{{worklog.title}}</a></h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>



<script src="/static/users/dashboard.js"></script>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/users/dashboard.css">
{% endblock %}
