{% extends 'base.html' %}
{% block content %}

<div class="page">
    <div class="container">
        <div id="profile" data-user-id="{{current_user.id}}">
            <div id="profile-img">
                <img src="{{current_user.image_url}}" alt="profile image for user">
            </div>
            <div class="user-info">
                <h3>Temp Name</h3>
                <h4>{{current_user.username}}</h4>

                <p>Temporary short bio</p>
            </div>
            <button id="editProfile">Edit profile</button>

            <div class="user-follow">
                <p>(icon) #<a href="">followers</a> # <a href="">following</a></p>
            </div>

        </div>


        <div id="dashboard">


            <div id="worklogs">
                <div id="wl-header">
                    <h2>Worklogs</h2>
                    <button id="wl-btn" onclick="newWL()">+</button>
                </div>
                
                <div id="allWorklogs">

                    {% for worklog in worklogs%}
                        <div class="worklog-lite">
                            <h3><a href="/worklog/{{worklog.id}}">{{worklog.title}}</a></h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script>

    function newExercise(e) {
        e.preventDefault();
        let id = this.attr("data-id");


        

    }

    async function makeNewExercise(){
        
    }




    document.getElementById('deleteUserBtn').addEventListener('click', function() {
        const username = this.dataset.username;
        if (!username) {
            console.error("Username is not provided.");
            return;
        }

        if (!confirm('Are you sure you want to delete this account?')) {
            return;
        }

        const url = `/users/${username}/delete`; 

        axios.post(url)
        .then(response => {
            console.log(response.data.message);
            window.location.href = '/flashdelete';
        })
        .catch(error => {
            console.error('Error during the delete operation:', error);
        });
    });
</script> -->


<script src="/static/users/dashboard.js"></script>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/users/dashboard.css">
{% endblock %}
